{% extends "static/layout.html" %}

{% block title %}Add{% endblock %}

{% block body %}
    <form method="post" action="">
      <dl>
        {{ form.csrf }}
        {{ form.name.label }} {{ form.name(class="form-input", style="width:100px") }}
	{% for error in form.name.errors %} {{ error }} {% endfor %}
		<br />
	{{ form.password.label }} {{form.password(class="form-input", style="width:100px") }}
	{% for error in form.password.errors %} {{ error }} {% endfor %}
      </dl>
      <p><input type="submit" value="submit">
    </form>
{% endblock %}
